@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.navbar__link--active {
  border-bottom: 3px solid #29b6f6;
  transition: border-bottom 0.5s ease-in-out;
}

ul li::before {
  content: '\2022';
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.card-internship:hover .card-internship-hover\:text-white {
  color: #fff;
}
.card-internship:hover .card-internship-h2-hover\:text-white-opacity {
  color: #fff;
  opacity: 60%;
}

.pass-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}
